<table class="table table-striped">
    <thead>
      <tr class="">
        <th scope="col">Pos.</th>
        <th scope="col">First Divsion</th>
        <th scope="col">P</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">D</th>
        <th scope="col">GD</th>
        <th scope="col">Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Vasco da Gama CC</td>
        <td>3</td> <!-- played -->
        <td>3</td> <!-- win -->
        <td>0</td> <!-- lose -->
        <td>0</td> <!-- draw -->
        <td>7</td> <!-- goal diff -->
        <td>9</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Newtown Salty Dogs</td>
        <td>3</td> <!-- played -->
        <td>2</td> <!-- win -->
        <td>0</td> <!-- lose -->
        <td>1</td> <!-- draw -->
        <td>7</td> <!-- goal diff -->
        <td>7</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Clinton FC</td>
        <td>3</td> <!-- played -->
        <td>2</td> <!-- win -->
        <td>0</td> <!-- lose -->
        <td>1</td> <!-- draw -->
        <td>4</td> <!-- goal diff -->
        <td>7</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Danbury United</td>
        <td>2</td> <!-- played -->
        <td>2</td> <!-- win -->
        <td>0</td> <!-- lose -->
        <td>0</td> <!-- draw -->
        <td>4</td> <!-- goal diff -->
        <td>6</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Greenwich FC</td>
        <td>3</td> <!-- played -->
        <td>1</td> <!-- win -->
        <td>0</td> <!-- lose -->
        <td>2</td> <!-- draw -->
        <td>1</td> <!-- goal diff -->
        <td>5</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Club Napoli</td>
        <td>3</td> <!-- played -->
        <td>1</td> <!-- win -->
        <td>2</td> <!-- lose -->
        <td>0</td> <!-- draw -->
        <td>5</td> <!-- goal diff -->
        <td>3</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Stamford FC</td>
        <td>2</td> <!-- played -->
        <td>0</td> <!-- win -->
        <td>1</td> <!-- lose -->
        <td>1</td> <!-- draw -->
        <td>-1</td> <!-- goal diff -->
        <td>1</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Polonia Falcon FC</td>
        <td>3</td> <!-- played -->
        <td>0</td> <!-- win -->
        <td>2</td> <!-- lose -->
        <td>1</td> <!-- draw -->
        <td>-7</td> <!-- goal diff -->
        <td>1</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>FC Shelton</td>
        <td>3</td> <!-- played -->
        <td>0</td> <!-- win -->
        <td>3</td> <!-- lose -->
        <td>0</td> <!-- draw -->
        <td>-7</td> <!-- goal diff -->
        <td>0</td> <!-- points -->
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>North Branford SC</td>
        <td>3</td> <!-- played -->
        <td>0</td> <!-- win -->
        <td>3</td> <!-- lose -->
        <td>0</td> <!-- draw -->
        <td>-13</td> <!-- goal diff -->
        <td>0</td> <!-- points -->
      </tr>
    </tbody>
  </table>