<!-- Start Hearder -->
<app-header></app-header>
<!-- End Hearder -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Start Promotion  -->
      <div class="row">
        <div class="col-md-12">
          <app-promotion-banner></app-promotion-banner>
        </div>
      </div>
      <!-- End Promotion -->

      <div class="row">
        <div class="col-md-3">
          <!-- Start Schedule  -->
          <app-schedule></app-schedule>
          <!-- End Schedule -->
        </div>
        <div class="col-md-6"></div>

        <!-- Start league table  -->
        <div class="col-md-3">
          <app-league-table></app-league-table>
        </div>
        <!-- Ends league table  -->
      </div>

      <!-- Start Footer  -->
      <app-footer></app-footer>
      <!-- End Footer -->
    </div>
  </div>
</div>
