<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Appearances</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Goalkeepers</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>

      <tr *ngFor="let playerItem of goalkeeperInfo">
        <td>
          <img src={{playerItem.flag}} class="" />
        </td>

        <td>{{ playerItem.firstName }}</td>
        <td>{{ playerItem.lastName }}</td>
        <td>{{ playerItem.apperances }}</td>
        <td>{{ playerItem.goals }}</td>
        <td>{{ playerItem.assists }}</td>
      </tr>

      <tr>
        <th scope="row">Defenders</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let playerItem of defenderInfo">
        <td>
          <img src={{playerItem.flag}} class="" />
        </td>

        <td>{{ playerItem.firstName }}</td>
        <td>{{ playerItem.lastName }}</td>
        <td>{{ playerItem.apperances }}</td>
        <td>{{ playerItem.goals }}</td>
        <td>{{ playerItem.assists }}</td>
      </tr>

      <tr>
        <th scope="row">Midfielders</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr *ngFor="let playerItem of midfielderInfo">
        <td>
          <img src={{playerItem.flag}} class="" />
        </td>

        <td>{{ playerItem.firstName }}</td>
        <td>{{ playerItem.lastName }}</td>
        <td>{{ playerItem.apperances }}</td>
        <td>{{ playerItem.goals }}</td>
        <td>{{ playerItem.assists }}</td>
      </tr>

      <tr>
        <th scope="row">Fowards</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngFor="let playerItem of fowardInfo">
        <td>
          <img src={{playerItem.flag}} class="" />
        </td>

        <td>{{ playerItem.firstName }}</td>
        <td>{{ playerItem.lastName }}</td>
        <td>{{ playerItem.apperances }}</td>
        <td>{{ playerItem.goals }}</td>
        <td>{{ playerItem.assists }}</td>
      </tr>
    </tbody>
  </table>
</div>
