<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Appearances</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
      </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">Goalkeepers</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <tr>
        <th>
          <img src="../../../assets//images/pl.png" class="flag flag-pl" />
        </th>
        <td>Tomasz</td>
        <td>Chylinski</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th>
          <img src="../../../assets//images/pl.png" class="flag flag-pl" />
        </th>
        <td>Maciek</td>
        <td>Marut</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>

      <tr>
        <th scope="row">Midfielders</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>
          <img src="../../../assets//images/pl.png" class="flag flag-pl" />
        </th>
        <td>Tomasz</td>
        <td>Chylinski</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>

      <tr>
        <th>
          <img src="../../../assets//images/pl.png" class="flag flag-pl" />
        </th>
        <td>Tomasz</td>
        <td>Chylinski</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>

      <tr>
        <th scope="row">Fowards</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th>
          <img src="../../../assets//images/pl.png" class="flag flag-pl" />
        </th>
        <td>Tomasz</td>
        <td>Chylinski</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>
