.inner-wrapper{
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 4rem;
}

.main {
  border-radius: 25px;
  background: lightgray;
  height: 100%;
  width: 100%;
  padding-left: 1.25rem;
  padding-top: 1.25rem;
  margin-bottom: 0;
  margin-top: 1.25rem;
  position: relative;
  margin-bottom: 1.25rem;

  &-items {
    display: flex;
  }

  &-content {
    padding: 2rem 2rem 2rem 2rem;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
