.schedule {
  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
  }

  &-fixture {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }

  &-home-team {
    height: 100px;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-away-team {
    height: 100px;
    width: 100px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-vs {
    margin-top: 35px;
  }
}

hr {
  background: white;
}
