<div class="schedule">
  <div class="schedule-date">{{scheduleItems.date}}</div>

  <div class="schedule-detail">
    <div class="schedule-game-info">



      <div class="schedule-time">Barcelona FC</div>
      <div class="schedule-teams">Home:</div>
      <div class="schedule-location">Sunday December 5 - 9:00am
        <br>
        Falcon Filed, New Britain, CT
      </div>

      <!-- <div class="schedule-time">{{scheduleItems.time}}</div>
      <div class="schedule-teams">{{scheduleItems.homeTeam}} vs {{scheduleItems.awayTeam}}</div>
      <div class="schedule-location">{{scheduleItems.field}}</div> -->
    </div>

  </div>
</div>



