<div class="row align-items-md-stretch">
  <ng-container *ngIf="displaySchedule">
    <div *ngFor="let game of upcomingGames" class="col-md-12 schedule">
      <div class="h-100 schedule-item text-white bg-dark rounded-3">
        <div>
          <span> {{ game.date }} &nbsp; |  &nbsp;   
      
            {{game.gameDetail}}
           </span>
        </div>
        <div class="schedule-fixture">
          <div class="schedule-home-team">
            <img src={{game.homeImgLogo}} alt="" />
          </div>
          <div class="schedule-team-info">
            {{game.homeTeam}}
          </div>
          <div class="schedule-vs">VS</div>
          <div class="schedule-team-info">
            {{game.awayTeam}}
          </div>
          <div class="schedule-home-team">
            <img src={{game.awayImgLogo}} alt="" />
          </div>
        </div>
        <hr />
      </div></div
  ></ng-container>

  <ng-container *ngIf="!displaySchedule">
    <div *ngFor="let game of pastGames" class="col-md-12 schedule">
      <div class="h-100 schedule-item text-white bg-dark rounded-3">
        <div>
          <span> {{ game.date }} &nbsp; |  &nbsp;   
      
            {{game.gameDetail}}
           </span>
        </div>
        <div class="schedule-fixture">
          <div class="schedule-home-team">
            <img src={{game.homeImgLogo}} alt="" />
          </div>
          <div class="schedule-team-info">
            {{game.homeTeam}}
          </div>
          <div class="schedule-vs">{{game.result}}</div>
          <div class="schedule-team-info">
            {{game.awayTeam}}
          </div>
          <div class="schedule-home-team">
            <img src={{game.awayImgLogo}} alt="" />
          </div>
        </div>
        <hr />
      </div></div>
  </ng-container>
</div>
