<h3>Upcoming Games</h3>

<div class="schedule-dash">
  <h4 class="schedule-date">April 10, 2021</h4>

  <div class="schedule-item"> 
    <div class="schedule-team1">FC Polonez</div>
   <div class="schedule-time">10:00</div>
   <div class="schedule-team2">Glastonbury Celtic</div>
 <br>
  </div>
  <div class="schedule-item"> 
    <div class="schedule-team1">Polonia Falcon</div>
   <div class="schedule-time">1:00</div>
   <div class="schedule-team2">Danbury United</div>
  </div>
  <div class="schedule-item"> 
    <div class="schedule-team1">Polonia O30</div>
   <div class="schedule-time">1:00</div>
   <div class="schedule-team2">NFB United</div>
  </div>
</div>







<!-- <div class="outer-wrapper">
  <div
    class="inner-wrapper"
    *ngFor="let games of upComingSchedule; let i = index"
  >
    <div *ngIf="i < 5" class="row">
      <div class="col-12-md">
        <h6>{{ games.date }}</h6>
        <hr />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="teams"
              >{{ games.homeTeam }}  {{ games.guestTeam }}</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
