<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Upcoming Games</h3>
      <div class="outer-wrapper">
        <div
          class="inner-wrapper"
          *ngFor="let games of upComingSchedule; let i = index"
        >
          <div *ngIf="i < 5" class="row">
            <div class="col-12-md">
              <h6>{{games.date}}</h6>
       <hr>
              <ul class="list-group list-group-flush ">
                <li class="list-group-item">
                  <span class="teams"
                    >{{ games.homeTeam }} : {{ games.guestTeam }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
