.container{
    margin-bottom: 20px;
    max-height: 50px;
}

.outter-wrapper{
    position: relative;
}

.row{
    border-radius: 25px;
    background: lightgray;
    width: 100%;
    padding-left: 2%;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
}

.row:last-child{
    margin-bottom: 20px;
}


ul{
    border-radius: 25px;
    display: flex;
    justify-content: center;

}

li{
    margin-bottom: 20px;
    font-weight: 500;
}