.navbar-brand img {
  border-radius: 15%;
  margin-left: 20px;
}

.navbar-brand img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

ul {
  font-weight: 500;
}

.navbar {
  background-color: #ba0d00;
  color: white;
}

.dropdown-item {
  color: black;
}

.nav-item .nav-link {
  color: white;
  margin-left: 20px;
}

.nav-item .nav-link:hover {
  color: #e8e8e8;
}
