<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="#">
    <img  [routerLink]="['/home']" src="assets/images/rmBg/polonia-rm-bg.png" width="100" height="100" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-dark navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a  [routerLink]="['/team']"class="nav-link" href="#">
          Team
        </a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/schedule']"class="nav-link" href="#">
          Schedules
        </a>
      </li>
      
      <li class="nav-item">
        <a  [routerLink]="['/standings']"class="nav-link " href="#"  role="button" >
          Standings
        </a>

      </li>
    </ul>
  </div>
</nav>