.update {
  border-radius: 25px;
  background: lightgray;
  height: 100%;
  width: 100%;
  padding-left: 1.25rem;
  padding-top: 1.25rem;
  margin-bottom: 0;
  margin-top: 1.25rem;
  position: relative;
  margin-bottom: 1.25rem;
}
//   &-items {
//     display: flex;
//     align-items: flex-start;
//   }

//   &-title {
//     font-weight: 500;
//   }

//   &-text {
//     padding-left: 12px;
//   }
// }

// .inner-wrapper {
//   padding-bottom: 1.25rem;
// }
