<div class="container">
  <div class="main">
    <div class="main-wrapper">
      <div class="main-items">
        <div class="news">
          <div class="news-item">
            <div class="news-image">
              <img
                class="banner-image"
                src="assets/images/over30/squad_picture2.png"
                alt=""
              />
            </div>
            <div  class="news-title">
              <h3></h3>
            </div>

            <div class="row align-items-md-stretch">
              <div class="col-md-6 upcoming">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                  <div class="upcoming-header">
                    <span type="button">Next Game</span>
                    <span class="" [routerLink]="'/schedule'" type="button">
                      View All
                    </span>
                  </div>
                  <div class="upcoming-fixture">
                    <div class="upcoming-home-team">
                      <img
                      src={{teamLogos.northBranfordSc}}

                        alt=""
                      />
                    </div>

                    <div class="upcoming-date">
                      <div>Sun June 19</div>

                      <div class="upcoming-date-time">10:00 AM</div>

                      <br />
                    </div>

                    <div class="upcoming-away-team">
                      <img
                      src={{teamLogos.sheltonFc}}
                        alt=""
                      />
                    </div>
                  </div>

                  <div>
                    Northford Park (G), Northford

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                  <h2>Standings</h2>
                  <table class="table table-striped">
                    <thead>
                      <tr class="">
                        <th scope="col">Pos.</th>
                        <th scope="col"></th> 
                        <th scope="col">P</th>
                        <th scope="col">GD</th>
                        <th scope="col">Pts</th>
                      </tr>
                    </thead>
            <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Vasco da Gama CC</td>
                        <td>6</td> <!--played-->
                        <td>16</td><!--goal diff-->
                        <td>18</td><!--points-->
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Clinton FC</td>
                        <td>7</td><!--played-->
                        <td>11</td><!--goal diff-->
                        <td>16</td><!--points-->
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Danbury United</td>
                        <td>5</td><!--played-->
                        <td>12</td><!--goal diff-->
                        <td>15</td><!--points-->
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Greenwich FC</td>
                        <td>6</td><!--played-->
                        <td>0</td><!--goal diff-->
                        <td>11</td><!--points-->
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Polonia Falcon FC</td>
                        <td>7</td><!--played-->
                        <td>-8</td><!--goal diff-->
                        <td>8</td><!--points-->
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Newtown Salty Dogs</td>
                        <td>6</td><!--played-->
                        <td>-1</td><!--goal diff-->
                        <td>7</td><!--points-->
                      </tr>
                    </tbody>
                  </table>
                  <div class="fade-effect"></div>
                  <button
                    [routerLink]="['/standings']"
                    class="btn btn-outline-secondary"
                    type="button"
                  >
                    View Standings
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
