// @import variables.scss;
// @import mixins.scss;

.main {
  height: 100%;
  width: 100%;
  // padding-left: 1.25rem;
  // padding-top: 1.25rem;
  position: relative;
  // margin-left: 4rem;
  //   margin-right: 4rem;
  &-wrapper {
    margin-top: 4rem;
    padding-bottom: 4rem;
    background: rgb(255, 241, 241);
    border-radius: 10px;
  }

  &-items {
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    // width: 100%;
    // justify-content: center;

    // @include media-breakpoint-up(sm){
    //   display: column;
    // }
  }
}
.one {
  flex-basis: 100px;
  flex-shrink: 0;
  color: purple;
}
.two {
  flex-basis: 100px;
  margin-left: 2rem;
  flex-grow: 2;
}

img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
//   &-content {
//     padding: 2rem 2rem 2rem 2rem;
//     display: block;
//     flex-basis: 0;
//     flex-grow: 1;
//     flex-shrink: 1;
//   }
// }

.latest-outter-wrapper {
  flex-grow: 1;
  background-color: #eaeaea;
}

.latest {
  background-color: white;
  margin: 10px 10px 10px 10px;

  &-games {
    background-color: darkblue;
    color: white;
    font-weight: 500;

    &-result {
      background-color: #d6181f;
      font-weight: bold;
      color: white;
    }
  }
}

li {
  list-style-type: none;
}

.news {
  flex-basis: 100px;

  flex-grow: 3;
}

.latest {
  flex-basis: 100px;
  flex-grow: 1;
}

.date {
  background-color: lightgray;
  color: black;
  margin: 10px 10px 10px 10px;
}

.upcoming {
  &-header {
    display: flex;
    justify-content: space-between;
  }
}

ul {
  padding: 0 !important;
}

.fade-effect {
  position: absolute;
  bottom: 95px;
  height: 50%;
  width: 100%;
  left: 10px;
  /* background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,98%,0)),to(#fafafa)); */
  background: -webkit-linear-gradient(top, hsla(0, 0%, 98%, 0), #fafafa);
  background: -o-linear-gradient(top, hsla(0, 0%, 98%, 0) 0, #fafafa 100%);
  background: linear-gradient(180deg, hsla(0, 0%, 98%, 0), #fafafa);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
