<div class="container">
  <div class="main">
    <div class="main-wrapper">
      <div class="main-items">
        <div class="news">
          <div class="news-item">
            <div class="news-image">
              <img
                src="../../../../assets/images/over30/squad_picture2.png"
                alt=""
              />
            </div>
            <div class="news-title">
              <h3>Polonia O30 Comeback To Grab Point</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
