<div class="container">
  <div class="main">
    <div class="main-wrapper">
      <div class="main-items">
        <div class="news">
          <div class="news-item">
            <div class="news-image">
              <img
                src="../../../../assets/images/over30/squad_picture.jpg"
                alt=""
              />
            </div>
            <div class="news-title">
              <h3>Polonia O30 Comeback To Grab Point</h3>
            </div>
          </div>
        </div>
        <div class="latest-outter-wrapper">
          <div class="latest">
            <div class="latest-games">Fixtures & Results</div>
            <div class="latest-games-item">
              <div class="date">Sun 16th May</div>
              <div class="games">
                <ul>
                  <li>Hamden All-Stars<span> 10:15AM </span> Polonia O30 </li>
                  <li>Polonia O30 <span> 11:00AM</span> Coyotes FC</li>
                </ul>
              </div>
            </div>
            <div class="latest-games-item">
              <div class="date">Sun 9th May</div>
              <div class="games">
                <ul>
                  <li>
                    Milford Tuesday
                    <span class="result-item">
                      <span class="result-score">
                     <span class="home-score"> 1 </span> 
                     <span class="away-score"> 1 </span> 
                      </span>
                    </span>
                    Polonia O30
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
