.container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.row {
  border-radius: 25px;
  background: lightgray;
  height: 100%;
  width: 100%;
  padding-left: 2%;
  padding-top: 2%;
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
}
